# Virtual environment
.myvenv/
myvenv/
env/

.env
venv.txt

# datasets
data-extraction/raw/
*.npy


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# Mac / Windows junk
*.swp